.info {
  background-color: #F8F9FA;
}

.guest-price {
  margin-left: 8px;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 16px 10px;
}