.flat-pic {
  height: 400px;
  background-position: center;
  background-size: cover;
}

.info-card {
  background-color: #F8F9FA;
  padding: 10px;
  margin-bottom: 10px;
}

.form-card {
  background-color: #F8F9FA;
  padding: 10px;
  margin-bottom: 10px;
}

.rrss-card {
  background-color: #F8F9FA;
  padding: 10px;
  margin-bottom: 10px;
}

.fas {
  margin-top: 1px;
}

.neg-top {
  margin-top: -75px;
}

.map {
  height: 300px;
  background-position: center;
  background-size: cover;
}
